<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tuitionapp_surji">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".message_box.MessageRequestActivity" />
        <activity android:name=".group.GroupCreationActivity" />
        <activity android:name=".demo_video.DemoVideoMainActivity" />
        <activity android:name=".calendar.CalendarViewEventActivity" />
        <activity android:name=".calendar.CalendarHomeActivity" />
        <activity android:name=".calendar.CalendarSampleActivity" />
        <activity android:name=".note.Note_Home" />
        <activity android:name=".batch.BatchStudentInfoTableActivity" />
        <activity android:name=".notice_board.NoticeBoardViewAndCreateActivity" />
        <activity android:name=".group.GroupTutorViewActivity" />
        <activity android:name=".batch.BatchViewInfoActivity" />
        <activity android:name=".message_box.MainMessageActivity" />
        <activity android:name=".message_box.MessageActivity" />
        <activity android:name=".batch.BatchCreationActivity" />
        <activity android:name=".verified_tutor.VerifiedTutorSetProfilePicture" />
        <activity android:name=".group.GroupHomePageActivity" />
        <activity android:name=".tuition_post.TuitionPostViewActivity" />
        <activity android:name=".guardian.ViewingSearchingTutorProfileActivity" />
        <activity android:name=".verified_tutor.VerifiedTutorNotificationActivity" />
        <activity android:name=".admin.AdminTutorProfileViewActivity" />
        <activity android:name=".guardian.GuardianInformationActivity" />
        <activity android:name=".admin.AdminHomePageActivity" />
        <activity android:name=".tuition_post.TuitionPostActivity" />
        <activity android:name=".verified_tutor.VerifiedTutorHomePageActivity" />
        <activity android:name=".guardian.GuardianHomePageActivity" />
        <activity android:name=".verified_tutor.TutorSignUpActivityStep3" />
        <activity android:name=".candidate_tutor.TutorSignUpActivityStep2" />
        <activity android:name=".candidate_tutor.TutorSignUpActivityStep1" />
        <activity android:name=".verified_tutor.VerifiedTutorProfileActivity" />
        <activity android:name=".candidate_tutor.TutorSignUpActivity" />
        <activity android:name=".candidate_tutor.TutorSignInActivity" />
        <activity android:name=".guardian.GuardianModuleStartActivity" />
        <activity android:name=".system.HomePageActivity" />
        <activity android:name=".system.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
