<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tuitionapp_surji">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="TutorPlanet"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".guardian.GuardianInformationViewActivity"></activity>
        <activity android:name=".message_box.ImageLargeViewActivity"></activity>
        <activity android:name=".group.GroupProfileActivity" />
        <activity android:name=".tuition_post.TuitionPostViewSinglePageActivity" />
        <activity android:name=".message_box.MessageRequestActivity" />
        <activity android:name=".group.GroupCreationActivity" />
        <activity android:name=".demo_video.DemoVideoMainActivity" />
        <activity android:name=".calendar.CalendarViewEventActivity" />
        <activity android:name=".calendar.CalendarHomeActivity" />
        <activity android:name=".calendar.CalendarCreateActivity" />
        <activity android:name=".note.Note_Home" />
        <activity android:name=".batch.BatchStudentInfoTableActivity" />
        <activity android:name=".notice_board.NoticeBoardViewAndCreateActivity" />
        <activity android:name=".group.GroupTutorAddActivity" />
        <activity android:name=".batch.BatchViewInfoActivity" />
        <activity android:name=".message_box.MainMessageActivity" />
        <activity android:name=".message_box.MessageActivity" />
        <activity android:name=".batch.BatchCreationActivity" />
        <activity android:name=".verified_tutor.VerifiedTutorSetProfilePicture" />
        <activity android:name=".group.GroupHomePageActivity" />
        <activity android:name=".tuition_post.TuitionPostViewActivity" />
        <activity android:name=".guardian.ViewingSearchingTutorProfileActivity" />
        <activity android:name=".notification_pack.NotificationViewActivity" />
        <activity android:name=".admin.AdminTutorProfileViewActivity" />
        <activity android:name=".guardian.GuardianInformationActivity" />
        <activity android:name=".admin.AdminHomePageActivity" />
        <activity android:name=".tuition_post.TuitionPostCreationActivity" />
        <activity android:name=".verified_tutor.VerifiedTutorHomePageActivity" />
        <activity android:name=".guardian.GuardianHomePageActivity" />
        <activity android:name=".verified_tutor.TutorSignUpActivityStep3" />
        <activity android:name=".candidate_tutor.TutorSignUpActivityStep2" />
        <activity android:name=".candidate_tutor.TutorSignUpActivityStep1" />
        <activity android:name=".verified_tutor.VerifiedTutorProfileActivity" />
        <activity android:name=".candidate_tutor.TutorSignUpActivity" />
        <activity android:name=".candidate_tutor.TutorSignInActivity" />
        <activity android:name=".guardian.GuardianModuleStartActivity" />
        <activity android:name=".starting.HomePageActivity" />
        <activity android:name=".starting.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".notification_pack.MyService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification_pack.FirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>